/* The colors are blue: #072854, orange: #FF7F00 yellow: #FFDF00 Red: #AF0014 */

.navbar-brand img {
	width: 90px;
	height: auto;
	margin-top: -10px;
	border-radius: 5000px;
}

.navbar {
	background: #072854;
	padding-bottom: 50px;
	border-color: #FF7F00;
}

body {
	background-color: #FF7F00;
}

#podcasts {
	background: #072854;
	height: 600px;
	margin-right: 10px;
}
#flesh {
	background: #072854;
	height: 600px;
}
#rss {
	background: #072854;
	height: 600px;
	margin-left: 10px;
}