/* The colors are blue: #072854, orange: #FF7F00 yellow: #FFDF00  */

.navbar-brand img {
	width: 40px;
	height: auto;
	margin-top: -10px;
	border-radius: 5000px;
}

.navbar {
	background: #072854;
}

body {
	background-color: 
}