/* The colors are blue: #072854, orange: #FF7F00 yellow: #FFDF00 Red: #AF0014 */

.navbar-brand img {
	width: 90px;
	height: auto;
	margin-top: -10px;
}

.navbar {
	background: #072854;
	padding-bottom: 50px;
	border-color: #FF7F00;
	border-radius: 10px;
}

body {
	background-color: #FF7F00;
}

#firstPanel {
	background: #072854;
	margin-right: 10px;
	padding-top: 10px;
	border: none;
	border-radius: 10px;
}

#secondPanel {
	background: #072854;
	border: none;
	border-radius: 10px;
}

#thirdPanel {
	background: #072854;
	height: 600px;
	margin-left: 10px;
	border: none;
	border-radius: 10px;
}

p {
	color: #ffffff;
	padding: 10px;
}

footer .push {
	height: 100px;
}

footer {
	position: relative;
	text-align: center;
	background: #072854;
	width: 99.8%;
	padding: 30px 0;
	font-size: 12px;
	color: #ffffff;
	margin-top: -50px; /* negative value of footer height */
  	height: 50px;
  	clear:both;
  	padding-top:20px;
  	margin-left: 2px;
  	border-radius: 10px;

}

html, body {
  height: 100%;
}

#wrap {
  min-height: 86.9%;
}

iframe {
	margin-bottom: 4px;
	margin-left: 4px;
	border-radius: 20px!important;
}

h1 {
	color: #ffffff;
	padding: 10px;
}
.row {
	width: 98%;
}
.brands {
	width: 30%;
	height: auto;
}

#itunes_logo {
	border-radius: 3px;
	height: 34px;
	width: 110px;
}

.navbar-toggle {
	background-color: #FF7F00;
	margin-top: 5.5%;
	margin-bottom: 0;
} 
/*Media Queries for screen size of 980px*/

@media screen and (max-width: 980px) {
	#firstPanel {
		margin-left: 5%;
		width: 98%;
	}
	#secondPanel {
		margin-left: 5%;
	/*	margin-right: 1%;*/
		width: 98%;
		padding: 1%;
	}
	#thirdPanel {
		margin-left: 5%;
		width: 98%;
	}
	iframe {
		padding: 1%;
	}
	footer {
		margin-top: 10px;
		margin-left: 1px;
	}
	.navbar {
		padding-bottom: 32px;
	}
}